<h3 class="page-header">
  <span ng-if="customerName">Job orders of {{customerName}}</span>
  <span ng-if="!customerName">All Job Orders <a ui-sref="default.joborder.add" class="btn btn-default btn-xs">Create New Job Order</a></span>
</h3>

<!-- Filters -->
<span ng-click="showFilters = !showFilters" ng-init="showFilters = false" class="btn btn-default btn-xs" style="font-family: monospace;">
  [{{showFilters ? '-' : '+'}}] Filter
</span>
<form ng-show="showFilters" ng-submit="doFilter()" class="form-horizontal mt20">
  <div ng-if="filter.customerName" class="form-group">
    <label class="col-sm-2 control-label">Customer</label>
    <div class="col-sm-6">
      <p class="form-control-static">{{filter.customerName}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Branch</label>
    <div class="col-sm-6">
      <select ng-model="filter.branchCode" class="form-control input-sm">
        <option value="">All Branches</option>
        <option ng-repeat="branch in branches" ng-value="branch.code">{{branch.name}}</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Status</label>
    <div class="col-sm-6">
      <select ng-model="filter.status" class="form-control input-sm">
        <option value="">Any status</option>
        <option ng-repeat="status in statuses" ng-value="status.value">{{status.label}}</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Received date</label>
    <div class="col-sm-3">
      <span class="input-group">
        <input type="text" datepicker-popup="{{dateFormat}}" placeholder="From"
          ng-model="filter.datefrom" is-open="openDatefrom" ng-init="openDatefrom = false"
          max-date="{{today}}"
          class="form-control input-sm" readonly />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default btn-sm" ng-click="open('from', $event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </span>
    </div>
    <div class="col-sm-3">
      <span class="input-group">
        <input type="text" datepicker-popup="{{dateFormat}}" placeholder="To"
          ng-model="filter.dateto" is-open="openDateto" ng-init="openDateto = false"
          max-date="{{today}}"
          class="form-control input-sm" readonly />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default btn-sm" ng-click="open('to', $event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-4 col-sm-push-2">
      <input type="submit" class="btn btn-primary btn-xs" value="Apply filters" />
      <span ng-click="clearFilters()" class="btn btn-default btn-xs">Clear filters</span>
    </div>
  </div>
</form>

<table ng-table="tableParams" show-filter="true" class="table table-striped mt20">
  <thead>
    <tr>
      <th>Customer
      <th>Services
      <th>Total Amt Due
      <th>Balance
      <th>Date created
      <th>Date due
      <th>Status
      <th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="joborder in $data">
      <td><a ui-sref="default.customer.view({customerCode: joborder.customer.code, urlSlug: joborder.customer.slug})">{{joborder.customer.formattedName}}</a>
      <td>
        <div ng-repeat="service in joborder.jobServices"><img ng-src="images/icons/{{service.serviceType.icon}}" class="img-sixteen" title="{{service.serviceType.label}}" /> {{service.weightInKilos}} ({{service.amount | currency: '₱'}})</div>
      </td>
      <td>{{joborder.totalAmount | currency: '₱'}}
      <td ng-class="colorizeBalance(joborder)">{{joborder.totalAmount - joborder.totalAmountPaid | currency: '₱'}}
      <td>
        <div>{{joborder.dateCreated | date: 'yyyy-MM-dd hh:mm a'}}</div>
        <div><small class="text-muted">@{{joborder.customer.brandName}} - {{joborder.branchInfo.name}}</small></div>
      </td>
      <td>{{joborder.dateDue | date: 'MMM-dd'}}
      <td>{{josLabel(joborder.status)}}
      <td>
        <div class="dropdown">
          <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu-{{$index}}"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Actions
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu-{{$index}}">
            <li><a ui-sref="default.joborder.view({joborderCode: joborder.trackingNo, urlSlug: joborder.slug})"><i class="fa fa-search-plus fa-fw"></i> <small>View details</small></a></li>
            <li ng-if="joborder.totalAmount > joborder.totalAmountPaid"><a href="javascript:;" ng-click="makePayment(joborder)"><i class="fa fa-money fa-fw"></i> <small>Make payment</small></a></li>
            <li ng-if="joborder.totalAmount < joborder.totalAmountPaid"><a href="javascript:;" ng-click="giveChange(joborder)"><i class="fa fa-money fa-fw"></i> <small>Give change</small></a></li>
            <li><a href="javascript:;" ng-click="updateStatus(joborder)"><i class="fa fa-check-square-o fa-fw"></i> <small>Update status</small></a></li>
            <li><a href="/print/{{joborder.trackingNo}}" target="_blank"><i class="fa fa-print fa-fw"></i> <small>Print invoice</small></a>
            <li><a ui-sref="default.joborder.update({joborderCode: joborder.trackingNo, urlSlug: joborder.slug})"><i class="fa fa-cube fa-fw"></i> <small>Update Job Order</small></a>
            <li ng-if="!customerName"><a href="javascript:;" ng-click="filterByCustomer(joborder.customer)"><i class="fa fa-search fa-fw"></i> <small>Filter by customer</small></a>
          </ul>
        </div>
      </td>
    </tr>
    <tr ng-if="!$data.length">
      <td colspan="8" align="center">No items available</td>
    </tr>
  </tbody>
</table>
