<h3 ng-if="!joborder" class="page-header">Create Job Order</h3>
<h3 ng-if="joborder" class="page-header">Update Job Order</h3>
<form class="form-horizontal" name="createJobOrderForm">
  <div class="panel panel-default">
  <div class="panel-heading">Customer and Location</div>
  <div class="panel-body">
    <div class="form-group">
      <label class="control-label col-sm-2 req">Customer</label>
      <div class="col-sm-7">
        <ui-select ng-model="customerHolder.customer" ng-change="onCustomerSelect()">
          <ui-select-match placeholder="Select a customer...">{{$select.selected.formattedName}}</ui-select-match>
          <ui-select-choices repeat="customer in customers track by $index"
               refresh="refreshCustomers($select.search)"
               refresh-delay="0">
               <div ng-bind-html="customer.formattedName + (customer.brandName ? (' (' + customer.brandName + ')') : '') | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
      <!-- div class="col-sm-1">
        <span ng-click="createNewCustomer()" title="Create new customer" class="btn btn-success"><i class="fa fa-plus"></i></span>
      </div-->
    </div>

    <!-- Get brand from customer -->
    <div class="form-group" ng-if="customerHolder.customer.brandName">
      <label class="control-label col-sm-2">Brand</label>
      <div class="col-sm-7">
        <p class="form-control-static">{{customerHolder.customer.brandName}}</p>
      </div>
    </div>

    <!-- Select branch from brand, backend decides likely branch -->
    <div class="form-group" ng-if="customerHolder.customer.brandName">
      <label class="control-label col-sm-2 req">Branch</label>
      <div class="col-sm-7">
        <select ng-model="branchHolder.branch"
          ng-change="updateServiceTypes(branchHolder.branch.code)"
          ng-options="branch as branch.name for branch in branches track by branch.id" required class="form-control"></select>
      </div>
    </div>
  </div>
  </div>
  <accordion>
    <accordion-group heading="Services" is-open="true">
      <div class="form-group">
        <label class="control-label col-sm-2">Service Type</label>
        <div class="col-sm-4">
          <select ng-model="serviceTypeHolder.serviceType"
             ng-options="serviceType as serviceType.label for serviceType in serviceTypes track by serviceType.code" class="form-control"
             ng-change="serviceTypeHolder.weight = serviceTypeHolder.serviceType.weight || 0"></select>
        </div>
        <div class="col-sm-3">
          <div class="input-group">
            <input type="number" ng-model="serviceTypeHolder.weight" min="0.1" step="0.01" class="form-control">
            <span class="input-group-addon">Kg</span>
          </div>
        </div>
        <div class="col-sm-1">
          <span ng-click="setWeight(serviceTypeHolder.weight)" 
            ng-disabled="!serviceTypeHolder.weight"
            title="Add service" class="btn btn-success"><i class="fa fa-plus"></i></span>
        </div>
      </div>
      <div>
        <div class="col-sm-4" ng-repeat="service in serviceTypes" ng-if="service.weight">
          <div class="panel panel-info mt10">
            <div class="panel-heading">
              <div class="row">
                <div class="col-sm-3">
                  <img ng-attr-src="images/icons/{{service.icon}}" class="img-thirtytwo" />
                </div>
                <div class="col-sm-9 text-right">
                  <div class="large">{{service.label}}</div>
                  <div><strong>{{service.weight}}</strong> Kg @ Php {{service.pricePerKilo}}/Kg</div>
                </div>
              </div>
            </div>
            <div class="panel-footer">
              <span class="pull-left">{{service.weight * service.pricePerKilo | currency: 'Php '}}</span> 
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </accordion-group>
    <accordion-group heading="Items" is-open="false">
      <div class="col-sm-4" ng-repeat-start="jobItemType in jobItemTypes">
        <div class="form-group">
          <label class="control-label col-sm-5">
            {{jobItemType.label}}
          </label>
          <div class="col-sm-1"><img ng-attr-src="images/{{jobItemType.iconPath}}" class="img-twentyfour" style="padding: 2px;"/></div>
          <div class="col-sm-5">
            <input type="number" ng-model="jobItems[jobItemType.code]" min="0" class="form-control"/>
          </div>
        </div>
      </div>
      <div class="clearfix" ng-repeat-end ng-if="$middle && 0 === ($index + 1) % 3"></div>
    </accordion-group>
    <!-- 
    <accordion-group heading="Dry Clean" is-open="false">
    </accordion-group>
    -->
  </accordion>
  <div class="col-sm-12 text-right">
    <div class="row">
      <span ng-click="createJobOrder(createJobOrderForm.$valid)" class="btn btn-primary">{{joborder ? 'Update' : 'Create'}} Job Order</span>
    </div>
  </div>
</form>

<script type="text/ng-template" id="modal-confirm-joborder">
  <div class="modal-header modal-primary">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h3 class="modal-title">Create job order</h3>
  </div>
  <div class="modal-body">
    <dl class="dl-horizontal">
      <dt>Customer
      <dd>{{jobOrder.customer.formattedName}}
      <dt>Total amount
      <dd>{{jobOrder.totalAmount | currency: 'Php '}}
    </dl>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-s-xs" ng-click="proceed()">OK</button>
    <button class="btn btn-default btn-s-xs" ng-click="cancel()">Cancel</button>
  </div>
</script>

<script type="text/ng-template" id="modal-create-success">
  <div class="modal-header modal-primary">
    <button type="button" class="close" ng-click="createNew()">&times;</button>
    <h3 class="modal-title">Create success</h3>
  </div>
  <div class="modal-body">
    <dl class="dl-horizontal">
      <dt>Customer
      <dd>{{jobOrder.customer.formattedName}}
      <dt>Tracking number
      <dd>{{jobOrder.trackingNo}}
      <dt>Total amount
      <dd>{{jobOrder.totalAmount | currency: 'Php '}}
      <dt>Date received
      <dd>{{jobOrder.dateReceived | date}}
      <dt>Date due
      <dd>{{jobOrder.dateDue | date}}
    </dl>
  </div>
  <div class="modal-footer">
    <a href="/print/{{jobOrder.trackingNo}}" target="_blank" class="btn btn-primary btn-s-xs">Print</a>
    <button ng-click="viewJobOrder()" class="btn btn-primary btn-s-xs">View Job Order</button>
    <button ng-click="createNew()" class="btn btn-primary btn-s-xs">Create new</button>
    <button ng-click="backToList()" class="btn btn-primary btn-s-xs">Back to Job Order List</button>
  </div>
</script>