<h3 class="page-header">
  <strong>{{joborder.customer.formattedName}} {{joborder.dateReceived | date: 'yyyy-MM-dd'}}</strong> ({{joborder.customer.brandName}} - {{joborder.branchInfo.name}})
  <a href="/print/{{joborder.trackingNo}}" target="_blank" class="btn btn-default btn-xs">Print</a>
  <br><small>View Job Order Details</small>
</h3>
<br>

<dl>
  <dt>Branch
  <dd>{{joborder.branchInfo.name}}
  <dt>Date Received
  <dd>{{joborder.dateReceived | date: 'yyyy-MM-dd hh:mm a'}}
  <dt>Date Due
  <dd>{{joborder.dateDue | date: 'yyyy-MM-dd'}}
  <dt>Services
  <dd>
    <div class="row">
    <div ng-repeat="service in joborder.jobServices" class="col-sm-4 mt5 servicepanel-small">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">
            <div class="col-sm-3">
              <img ng-attr-src="images/icons/{{service.serviceType.icon}}" class="img-thirtytwo" />
            </div>
            <div class="col-sm-9 text-right">
              <div class="large">{{service.serviceType.label}}</div>
              <div><strong>{{service.weightInKilos}}</strong> Kg @ Php {{service.pricePerKilo}}/Kg</div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <span class="pull-left">{{service.weightInKilos * service.pricePerKilo | currency: 'Php '}}</span> 
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    </div>
  </dd>
  <dt ng-if="joborder.jobItems.length">Items
  <dd>
    <span ng-repeat="jobItem in joborder.jobItems" ng-init="jt=getJobItemType(jobItem.jobItemType)" style="margin-right: 10px;">{{jobItem.quantity}} <img ng-attr-src="images/{{jt.iconPath}}" title="{{jt.label}}" class="img-sixteen"/></span>
  </dd>
  <dt>Total Amount
  <dd>{{joborder.totalAmount | currency: '₱'}}
  <dt>Total Amount Paid
  <dd>{{joborder.totalAmountPaid | currency: '₱'}}
  <dt>Status
  <dd>{{josLabel(joborder.status)}}
</dl>