* {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

body {
  background: url("../img/bubbles.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.pointer {cursor: pointer;}

.container.container-main {
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#eafaff, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#eafaff, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#eafaff, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#eafaff, white); /* Standard syntax */
}
.container#container-angular {
  min-height: 1000px;
}

img.tls-fit {
 max-width: 100%;
}

img.carousel {
  max-height: 350px;
  margin: auto;
}

.mt20 {margin-top: 20px;}
.mb20 {margin-bottom: 20px;}