<h3 class="page-header">Price Management</h3>

<form name="servicesForm">
<table class="table table-striped">
  <thead>
    <tr>
      <th width="32">
      <th>Service
      <th width="32">Enabled
      <th width="150">Price per Kilo
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="service in serviceTypes">
      <td><img ng-attr-src="/app/images/icons/{{service.icon}}" class="img-thirtytwo" />
      <td>
        <div>{{service.label}}</div>
        <div>{{service.branchName ? service.branchName + ' (' + service.brandName + ')' : 'Admin default'}}</div>
      </td>
      <td><input type="checkbox" ng-model="service.enabled" />
      <td>
        <div class="input-group">
          <span class="input-group-addon">Php</span>
          <input type="number" ng-model="service.pricePerKilo" min="1" step="0.1" class="form-control input-sm"/>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="pull-right">
  <button ng-click="save(servicesForm)" ng-disabled="servicesForm.$pristine" class="btn btn-primary">Save Services</button>
  <button ng-click="reset(servicesForm)" ng-disabled="servicesForm.$pristine" class="btn btn-default">Reset</button>
</div>
</form>