<h2 class="page-header">
    Dashboard
    <br><small class="text-muted">Admin</small>
</h2>

<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-green pointer" ui-sref="default.joborder.list">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-cubes fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{dashboard.newJoborders}}</div>
            <div>New Job Orders</div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <span class="pull-left">View Details</span>
        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-primary pointer" ui-sref="default.sales_header.list">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-shopping-basket fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{dashboard.salesToday}}</div>
            <div>Sales Today</div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <span class="pull-left">View Details</span>
        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel pointer" ng-class="{'panel-danger': hasAccountsDue, 'panel-primary': !hasAccountsDue}" ui-sref="default.acctspayable.list">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-lightbulb-o fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{dashboard.accountsDue}}</div>
            <div>Accounts Due</div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <span class="pull-left">View Details</span>
        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-8">
    <h3 class="page-header">Event log</h3>
    <div class="panel panel-default" ng-repeat="event in events">
      <div class="panel-heading">
        <i ng-if="event.eventType=='LOGIN'" class="fa fa-user"></i>
        &nbsp;{{event.eventType}}
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>User
          <dd>{{event.createdBy}}
          <dt>Date/time
          <dd>{{event.dateCreated | date: 'MMM-dd-yyyy h:mm a'}}
        </dl>
      </div>
    </div>
    <button ng-click="moreEvents()" ng-disabled="events.length >= totalEvents" class="btn btn-primary">More</button>
    <small>Showing {{events.length}} of {{totalEvents}}</small>
  </div>
</div>