<h2 class="page-header">
    Dashboard
    <br><small class="text-muted">Admin</small>
</h2>

<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-green pointer" ui-sref="default.joborder.list">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-cubes fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{dashboard.newJoborders}}</div>
            <div>New Job Orders</div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <span class="pull-left">View Details</span>
        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-primary pointer" ui-sref="default.sales_header.list">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-shopping-basket fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{dashboard.salesToday}}</div>
            <div>Sales Today</div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <span class="pull-left">View Details</span>
        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel pointer" ng-class="{'panel-danger': hasAccountsDue, 'panel-primary': !hasAccountsDue}" ui-sref="default.acctspayable.list">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-lightbulb-o fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{dashboard.accountsDue}}</div>
            <div>Accounts Due</div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <span class="pull-left">View Details</span>
        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-8">
    <h3 class="page-header">Event log</h3>
    <div class="panel panel-default" ng-repeat="event in events">
      <div class="panel-heading">
        <span ng-if="event.eventType=='LOGIN'"><i class="fa fa-user"></i> Login</span>
        <span ng-if="event.eventType=='JOB_ORDER'"><i class="fa fa-cube"></i> Job Order</span>
        <span ng-if="event.eventType=='INV_ITEM_TYPE'"><i class="fa fa-flask"></i> Inventory Item Type</span>
        <span ng-if="event.eventType=='INV_ITEM'"><i class="fa fa-archive"></i> Inventory Item</span>
        <span ng-if="event.eventType=='CUSTOMER'"><i class="fa fa-users"></i> Customer</span>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>User
          <dd>{{event.createdBy}}
          <dt>Date/time
          <dd>{{event.dateCreated | date: 'MMM-dd-yyyy h:mm a'}}
          <dt ng-if="event.message">Details
          <dd ng-if="event.message">{{event.message}}
          <dt ng-if="event.brand">Brand
          <dd ng-if="event.brand">{{event.brand.name}}
          <dt ng-if="event.branch">Branch
          <dd ng-if="event.branch">{{event.branch.name}}
          <dt ng-if="event.jobOrder">Customer
          <dd ng-if="event.jobOrder">{{event.jobOrder.customer.formattedName}}
          <dt ng-if="event.jobOrder">
          <dd ng-if="event.jobOrder"><a ui-sref="default.joborder.view({joborderCode: event.jobOrder.trackingNo, urlSlug: event.jobOrder.slug})"><i class="fa fa-cube"></i> <small>View details</small></a>
          <dt ng-if="event.inventoryItemType">Inventory Item Type
          <dd ng-if="event.inventoryItemType">{{event.inventoryItemType.name}}
          <dt ng-if="event.inventoryItemType">
          <dd ng-if="event.inventoryItemType"><a ui-sref="default.inv_item_type.view({invItemTypeCode: event.inventoryItemType.code, urlSlug: event.inventoryItemType.slug})"><i class="fa fa-flask"></i> <small>View details</small></a>
          <dt ng-if="event.inventoryItem">Inventory Item
          <dd ng-if="event.inventoryItem">{{event.inventoryItem.inventoryItemTypeName}}
          <dt ng-if="event.inventoryItem">
          <dd ng-if="event.inventoryItem"><a ui-sref="default.inv_item.view({invItemCode: event.inventoryItem.code, urlSlug: event.inventoryItem.slug})"><i class="fa fa-archive"></i> <small>View details</small></a>
          <dt ng-if="event.customer">Customer
          <dd ng-if="event.customer">{{event.customer.formattedName}}
          <dt ng-if="event.customer">
          <dd ng-if="event.customer"><a ui-sref="default.customer.view({customerCode: event.customer.code, urlSlug: event.customer.slug})"><i class="fa fa-users"></i> <small>View details</small></a>
        </dl>
      </div>
    </div>
    <button ng-click="moreEvents()" ng-disabled="events.length >= totalEvents" class="btn btn-primary">More</button>
    <small>Showing {{events.length}} of {{totalEvents}}</small>
  </div>
</div>