<h3 class="page-header">
  <strong>{{brand.name}}</strong>
  <br><small>View Brand Details</small>
</h3>

<dl>
  <dt>Date created
  <dd>{{brand.dateCreated | date}}
  <dt>Description
  <dd>{{brand.description}}
</dl>

<h3 class="page-header"><small>Branches</small></h3>
<div ng-if="brand.branches.length" ng-repeat="branch in brand.branches" class="row">
  <div class="col-sm-10">
    <h4>{{branch.name}} <button ui-sref="default.branch.update({brandCode: brand.code, branchCode: branch.code, urlSlug: branch.slug})"
       class="btn btn-default btn-xs">Update</button></h4>
    <dl>
      <dt>Address
      <dd>{{branch.address ? branch.address : 'Not set'}}
      <dt>Contact number
      <dd>{{branch.contactNumber ? branch.contactNumber : 'Not set'}}
      <dt>Email
      <dd>{{branch.email ? branch.email : 'Not set'}}
      <dt>Minimum job order amount
      <dd>{{branch.minimumJobOrderAmount ? branch.minimumJobOrderAmount : 'Not set'}}
      <dt>Description
      <dd>{{branch.description ? branch.description : 'Not set'}}
    </dl>
  </div>
</div>
<div ng-if="!brand.branches.length" class="row">
  <div class="col-sm-12">No branches</div>
</div>

<h3 class="page-header"><small>Users</small></h3>
<div ng-if="brand.users.length" ng-repeat="user in brand.users" class="row">
  <div class="col-sm-10">
    <h4><a ui-sref="default.user.view({userCode: user.code, urlSlug: user.slug})">{{user.name}}</a></h4>
    <dl>
      <dt>Roles
      <dd>{{user.roles.join(',')}}
    </dl>
  </div>
</div>
<div ng-if="!brand.users.length" class="row">
  <div class="col-sm-12">No users</div>
</div>

<br><br><br><br><br><br>{{brand}}