<h3 ng-if="user.code" class="page-header">Update {{user.name}} <br><small>Update user</small></h3>
<h3 ng-if="!user.code" class="page-header">Add new user</h3>

<form class="form form-horizontal" ng-submit="save()">
  <div class="form-group">
    <label class="control-label col-sm-2 req">Name</label>
    <div class="col-sm-4">
      <input type="text" ng-model="user.name" required class="form-control" />
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2 req">Password</label>
    <div ng-if="user.code" class="col-sm-4">
      <input type="text" ng-model="updateUserRequest.user.password" ng-if="!updateUserRequest.user.code || updateUserRequest.resetPassword" required class="form-control" />
      <span ng-if="updateUserRequest.user.code && !updateUserRequest.resetPassword" ng-click="resetPassword()" class="btn btn-danger">Reset password</span>
    </div>
    <div ng-if="!user.code" class="col-sm-4">
      <input type="text" ng-model="updateUserRequest.user.password" required class="form-control" />
    </div>
  </div>
  <div ng-if="!isSelf(user.name) && !isSameLevel(user.roles)" class="form-group">
    <label class="control-label col-sm-2">Role</label>
    <div class="col-sm-4">
      <select ng-model="updateUserRequest.user.roles[0]" ng-options="role as role for role in roles" required class="form-control"></select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2">Brand</label>
    <div class="col-sm-4">
      <div ng-repeat="(brandCode, included) in brandsAvailable" >
        <input type="checkbox" ng-model="included" id="brand-{{$index}}" ng-change="toggleUserBrandCode(brandCode, included)" />
        <label for="brand-{{$index}}" class="control-label pointer">{{brandName(brandCode)}}</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-4 col-sm-push-2">
      <input type="submit" value="{{user.code ? 'Update user' : 'Create user'}}" class="btn btn-primary" />
    </div>
  </div>
</form>
