<h3 class="page-header">Checkout shopping cart items</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Item type
      <th>Item details
      <th>Quantity
      <th>Price
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="cartItem in shoppingCart.items">
      <td>{{cartItem.inventoryItem.inventoryItemTypeName}}</td>
      <td>
        <div></div>
      </td>
      <td>{{cartItem.quantity}}
      <td>{{cartItem.price}}
    </tr>
  </tbody>
</table>

<div class="row mt20">
  <div class="col-sm-12 text-right">
    <strong>Total</strong> {{shoppingCart.totalPrice() | currency: '₱'}}
  </div>
</div>

<div class="row mt20">
  <div class="col-sm-12 text-right">
    <button ng-disabled="!shoppingCart.items.length" class="btn btn-primary">Proceed with checkout</button>
  </div>
</div>