<h3 class="page-header">
  View Sales No. {{salesHeader.id}}
  <br><small>{{salesHeader.branch.brandName}} - {{salesHeader.branch.name}}</small>
</h3>

<dl class="dl-horizontal">
  <dt>Total amount
  <dd>{{salesHeader.totalAmountPaid | currency: '₱'}}
  <dt>Sales date
  <dd>{{salesHeader.dateCreated | date}}
  <dt>Branch
  <dd>{{salesHeader.branch.brandName}} - {{salesHeader.branch.name}}
  <dt>Created by
  <dd>{{salesHeader.createdBy}}
</dl>

<h4 class="page-header">Items</h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Type
      <th>Per item amount
      <th>Quantity
      <th>Line item amount
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in salesHeader.items">
      <td>{{item.inventoryItemName}}
      <td>{{item.pricePerItem | currency: '₱'}}
      <td>{{item.quantity}} {{item.uom ? item.uom : 'units'}}
      <td>{{item.amount | currency: '₱'}}
    </tr>
  </tbody>
</table>
