<h3 class="page-header">
  <strong>{{inventoryItemType.name}}</strong> <button class="btn btn-default btn-xs" ui-sref="default.inv_item_type.update({invItemTypeCode: inventoryItemType.code, urlSlug: inventoryItemType.slug})">Update</button>
  <br><small>View Inventory Item Type Details</small>
</h3>

<dl class="dl-horizontal">
  <dt>Description
  <dd>{{inventoryItemType.description}}
  <dt>Unit of measure (UOM)
  <dd>{{inventoryItemType.uom}}
  <dt>Brand availability
  <dd>{{inventoryItemType.brandName}}
  <dt>Date created
  <dd>{{inventoryItemType.dateCreated | date}}
  <dt>Created by
  <dd>{{inventoryItemType.createdBy}}
</dl>

<h4 class="page-header">Defaults</h4>
<dl class="dl-horizontal">
  <dt>For sale
  <dd>{{inventoryItemType.forSale ? 'Yes' : 'No'}}
  <dt>Default buying price
  <dd>{{inventoryItemType.defaultBuyingPrice | currency: '₱'}}
  <dt ng-if="inventoryItemType.forSale">Default selling price
  <dd ng-if="inventoryItemType.forSale">{{inventoryItemType.defaultSellingPrice | currency: '₱'}}
  <dt>Default supplier name
  <dd>{{inventoryItemType.defaultSupplierName || 'Not specified'}}
</dl>