body {
  background: url("../img/bubbles.jpg");
}

.container {
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#eafaff, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#eafaff, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#eafaff, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#eafaff, white); /* Standard syntax */
}

img.tls-fit {
 max-width: 100%;
}