<nav ng-if="isAuthenticated()" class="navbar navbar-default mt20" style="margin-bottom: 0;">
  <div class="container-fluid">
    <!-- Header -->
    <div class="navbar-header">
      <a ng-if="isAuthorized('ROLE_ADMIN')" class="navbar-brand" ui-sref="default.manager.splash" title="Admin Dashboard">Admin</a>
      <a ng-if="isAuthorized('ROLE_BRAND_MANAGER')" class="navbar-brand" title="Management Dashboard">Management</a>
      <a ng-if="isAuthorized('ROLE_POS')" ui-sref="default.pos.dashboard" class="navbar-brand" title="POS Dashboard">Point of Sales</a>
    </div>
  
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li ng-if="isAuthorized('ROLE_POS')" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-shopping-cart"></i> Shopping Cart &nbsp;
            <span ng-if="shoppingCart.items.length" class="label label-success">{{shoppingCart.items.length}}</span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li ng-if="shoppingCart.items.length" class="dropdown-header">Cart items (click to remove)</li>
            <li ng-if="!shoppingCart.items.length" class="dropdown-header">No items in cart</li>
            <li ng-repeat="cartItem in shoppingCart.items">
              <a href="javascript:;" ng-click="shoppingCart.removeItem($index)">{{cartItem.inventoryItem.inventoryItemTypeName}} {{cartItem.quantity}}</a>
            </li>
            <li ng-if="shoppingCart.items.length" role="separator" class="divider"></li>
            <li ng-if="shoppingCart.items.length" class="dropdown-header">Shopping cart actions</li>
            <li ng-if="shoppingCart.items.length"><a ui-sref="default.checkout">Checkout</a></li>
            <li ng-if="shoppingCart.items.length"><a href="javascript:;" ng-click="shoppingCart.clearCart()">Clear cart</a></li>
          </ul>
        </li>
      </ul>    
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Logged in as {{principal.username}} Logout</a></li>
      </ul>
    </div>
  
    <!-- Sidebar -->
    <div class="row">
    <div role="navigation" class="navbar-primary sidebar" style="margin-top: 0;">
      <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
          <li ng-if="isAuthorized('ROLE_ADMIN')"><a ui-sref="default.admin.dashboard" ui-sref-active="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
          <li ng-if="isAuthorized('ROLE_BRAND_MANAGER')"><a ui-sref="default.brandmgr.dashboard" ui-sref-active="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
          <li ng-if="isAuthorized('ROLE_POS')"><a ui-sref="default.pos.dashboard" ui-sref-active="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
          <li ng-if="isAuthorized(['ROLE_ADMIN', 'ROLE_BRAND_MANAGER'])"><a ui-sref="default.brand.list" ui-sref-active="active"><i class="fa fa-institution fa-fw"></i> Brands</a></li>
          <li ng-if="isAuthorized(['ROLE_ADMIN', 'ROLE_BRAND_MANAGER'])"><a ui-sref="default.user.list" ui-sref-active="active"><i class="fa fa-users fa-fw"></i> Users</a>
          <li><a ui-sref="default.joborder.list" ui-sref-active="active"><i class="fa fa-cubes fa-fw"></i> Job Orders</a>
          <li><a ui-sref="default.customer.list" ui-sref-active="active"><i class="fa fa-users fa-fw"></i> Customers</a>
          <li ng-if="isAuthorized(['ROLE_ADMIN', 'ROLE_BRAND_MANAGER'])"><a ui-sref="default.pricemanagement" ui-sref-active="active"><i class="fa fa-money fa-fw"></i> Price Management</a>
          <li ng-if="isAuthorized(['ROLE_ADMIN', 'ROLE_BRAND_MANAGER'])"><a ui-sref="default.inv_item_type.list" ui-sref-active="active"><i class="fa fa-list fa-fw"></i> Inventory Item Types</a>
          <li><a ui-sref="default.inv_item.list" ui-sref-active="active"><i class="fa fa-archive fa-fw"></i> Inventory Items</a>
          <li><a ui-sref="default.sales_header.list" ui-sref-active="active"><i class="fa fa-shopping-basket fa-fw"></i> Sales</a>
          <li ng-if="isAuthorized(['ROLE_ADMIN', 'ROLE_BRAND_MANAGER'])"><a ui-sref="default.acctspayable.list" ui-sref-active="active"><i class="fa fa-lightbulb-o fa-fw"></i> Accounts Payable</a>
        </ul>
      </div>
    </div>
    </div>
  </div>
</nav>

<div id="{{isAuthenticated() ? 'page-wrapper' : 'no-id'}}" style="padding-top: 20px; padding-bottom: 40px;" ng-cloak>
  <div class="row">
    <ui-view></ui-view>
  </div>
</div>
