<nav ng-if="isAuthenticated()" class="navbar navbar-default mt20" style="margin-bottom: 0;">
  <div class="container-fluid">
    <!-- Header -->
    <div class="navbar-header">
      <a ng-if="isAuthorized('ROLE_ADMIN')" class="navbar-brand" ui-sref="default.manager.splash" title="Admin Dashboard">Admin</a>
      <a ng-if="isAuthorized('ROLE_BRAND_MANAGER')" class="navbar-brand" title="Management Dashboard">Management</a>
      <a ng-if="isAuthorized('ROLE_POS')" ui-sref="default.pos.dashboard" class="navbar-brand" title="POS Dashboard">Point of Sales</a>
    </div>
  
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Admins and POS</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>    
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Logged in as {{principal.username}} Logout</a></li>
      </ul>
    </div>
  
    <!-- Sidebar -->
    <div class="row">
    <div role="navigation" class="navbar-primary sidebar" style="margin-top: 0;">
      <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
          <li ng-if="isAuthorized('ROLE_ADMIN')"><a ui-sref="default.admin.dashboard" ui-sref-active="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
          <li ng-if="isAuthorized('ROLE_BRAND_MANAGER')"><a ui-sref="default.brandmgr.dashboard" ui-sref-active="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
          <li ng-if="isAuthorized('ROLE_POS')"><a ui-sref="default.pos.dashboard" ui-sref-active="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
          <li ng-if="isAuthorized(['ROLE_ADMIN', 'ROLE_BRAND_MANAGER'])"><a ui-sref="default.brand.list" ui-sref-active="active"><i class="fa fa-list fa-fw"></i> Brands</a></li>
          <li ng-if="isAuthorized(['ROLE_ADMIN', 'ROLE_BRAND_MANAGER'])"><a ui-sref="default.user.list" ui-sref-active="active"><i class="fa fa-users fa-fw"></i> Users</a>
          <li><a ui-sref="default.joborder.list" ui-sref-active="active"><i class="fa fa-list fa-fw"></i> Job Orders</a>
        </ul>
      </div>
    </div>
    </div>
  </div>
</nav>

<div id="{{isAuthenticated() ? 'page-wrapper' : 'no-id'}}" style="padding-top: 20px;" ng-cloak>
  <div class="row">
    <ui-view></ui-view>
  </div>
</div>
