<div class="col-sm-4 center-block" style="float: none;">
<div class="row">
<h3>Log in to Gina's Laundry <br />
  <small ng-if="params.msg=='bad_credentials'" class="text-danger">Incorrect username or password</small>
  <small ng-if="params.msg=='unauthorized'" class="text-danger">You have requested a page you do not have access to. Please login with the proper credentials to continue or <a ui-sref="default.splash">Return to your homepage</a></small>
  <small ng-if="error" class="text-danger">{{error}}</small>
</h3>
</div>
<form ng-submit="authenticate()" class="form-horizontal">
  <div class="form-group">
    <label>Username</label>
    <input type="text" ng-model="username" class="form-control" />
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" ng-model="password" class="form-control" />
  </div>
  <div class="form-group">
    <div class="row">
    <div class="col-sm-6">
      <input type="submit" ng-disabled="!username || !password" value="Login" class="btn btn-lg btn-primary btn-block" />
    </div>
    <div class="col-sm-6">
      <button ui-sref="default.splash" class="btn btn-lg btn-default btn-block">Cancel</button>
    </div>
    </div>
  </div>
</form>
</div>